<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24311232481-p8mn4jjpod6sjg1muv70g0mojkg4daam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24311232481-p8mn4jjpod6sjg1muv70g0mojkg4daam</string>
	<key>API_KEY</key>
	<string>AIzaSyBVA5L4WZhwonoQlnLkRMZ56mS30zXCnoc</string>
	<key>GCM_SENDER_ID</key>
	<string>24311232481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tohyo</string>
	<key>PROJECT_ID</key>
	<string>fir-tohyo</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-tohyo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24311232481:ios:af9d62052c9906a3e244a0</string>
</dict>
</plist>